.cover__link {
    text-decoration: none;
    color: #FFFF;
    width: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        rgba(42, 44, 47, 0.3),
        rgba(42, 44, 47, 0.3)),
        url(../../../images/sprint-3-images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 92px;
    left: 48px;
    background-position: center center;
    z-index: 1;
}

.cover__link:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #2A2C2F;
    opacity: 0.5;
    z-index: 2;
}

@media (max-width: 1024px) {
    .cover__link {
        top: 92px;
        left: 0;
        min-height: 640px;
    }
}

@media (max-width: 768px) {
    .cover__link {
        min-height: 480px;
    }
}

@media (max-width: 320px) {
    .cover__link {
        top: 66px;
        min-height: 200px;
    }
}