.intro {
    max-width: 690px;
    height: 429px;
    padding-top: 92px;
    padding-left: 100px;
}

@media (max-width: 1024px) {
    .intro {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .intro {
        padding-top: 88px;
        max-width: 100%;
    }
}